.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 357px;
  text-align: left;

  h1 {
    color: #010101;
    font-family: var(--font-roboto);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    margin-top: 16px;
  }

  span {
    color: #8f8b8b;
    font-family: var(--font-open-sans);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
  }

  p {
    color: #050505;
    text-align: justify;
    font-family: var(--font-open-sans);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    margin: 11px 0 21px 0;
  }

  &--avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      border-radius: 50%;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 175.5px;
      height: 46.8px;
      border-radius: 170px 170px 16px 16px;
      background-color: #0969da;

      color: #fff6f6;
      text-align: center;
      font-family: var(--font-roboto);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: -30px;
    }
  }
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;

  span {
    display: block;
    color: #8f8b8b;
    font-family: var(--font-open-sans);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-align: left;
    width: 100%;
  }
}
