.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  &--search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;

    width: 100%;
    padding: 48px 0;
    border-bottom: 1px solid #bbb4b4;

    input {
      width: 742px;
    }

    button {
      width: 204.874px;
    }
  }

  &--body {
    > div {
      display: flex;
      justify-content: center;
      gap: 32px;
      padding: 0 48px;

      img {
        margin-top: calc(32px - 14px);
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 14px;

        > a {
          align-self: flex-end;
          width: 223px;
        }
      }
    }
  }
}

.container-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
